// Colours

$green: #61BC30;
$green-dark: #56A329;
$red: #DA2E29;
$blue: #29A5DA;
$purple: #9F42D0;
$gray-base: #333; //BS
$gray-light: #767676; //BS
$gray-lighter: #f0f0f0; //BS
$brand-primary: $green; //BS
$brand-success: $green; //BS
$brand-info: $blue; //BS
$brand-danger: $red; //BS
$text-color: $gray-base; //BS
$brand-commercial: $purple;
$brand-primary-text: $green-dark;
$link-color: $brand-primary-text; //BS

// themes
$theme-bg-financial: #465C84;
$theme-bg-infrastructure: #725441;
$theme-bg-literacy: #1C5F78;
$theme-bg-network: #009B4D;
$theme-bg-science: #3F5D6A;
$theme-bg-licensing: #86622E;
$theme-bg-government: #7F5362;
$theme-bg-assessment: #7A703B;
$theme-bg-culture: #48745A;
$theme-bg-education: #17405E;
$theme-bg-personal: #2E3548;


// Typography

$font-family-sans-serif:  LatoWeb, "Helvetica Neue", Helvetica, Arial, sans-serif; //BS
$font-size-base: 16px; //BS
$lato-font-path: "../fonts/lato/";
$custom-icon-font-path: "../fonts/icons/";
$icon-font-path: "../fonts/bootstrap/"; //BS Glyphicons
$headings-font-weight: 600; //BS


// Components

$border-radius-base: 2px; //BS
$border-radius-large: 3px; //BS
$border-radius-small: 1px; //BS


// Forms
$input-border-focus: $gray-base; //BS
