{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <div class="banner">
    {% include 'includes/banner-pattern.html' %}
    {% include 'includes/banner-pattern.html' %}
    <div class="container">
      <h2>{{ this.title }}</h2>
      {{ this.blurb }}
    </div>
  </div>
</header>
<main class="main container">
  <div>
    <aside>
      nav
    </aside>
    <article>
      {{ this.body }}

      <!-- static version of existing content, as example -->
      <div class="row">
      <div class="profile">
      <a class="image" href="http://next.openspending.org/" style="background-image: url(https://d22739b8qd5enr.cloudfront.net/media/projects/pictures/openspending.png)">
      <img src="https://d22739b8qd5enr.cloudfront.net/media/cache/e4/ab/e4abcc7f1fe833fb6444b02fea7cef17.jpg" alt="">
      </a>
      <h3 class="name">OpenSpending</h3>
      <p>OpenSpending is a centralized platform on the topic of public financial information, including an global database of budgets and spending data, a community of contributors and users exposing cases, and a set of open resources and tools providing technical, fiscal, and political understanding necessary to work with financial data.</p>
      <div class="meta">
      <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="openspending-home">
      <h4>Homepage:</h4>
      <a href="http://next.openspending.org/"> http://next.openspending.org/</a>
      </div>
      <div role="tabpanel" class="tab-pane" id="openspending-sourcecode_url">
      <h4>Sourcecode:</h4>
      <a href="https://github.com/openspending"> https://github.com/openspending</a>
      </div>
      <div role="tabpanel" class="tab-pane" id="openspending-forum_url">
      <h4>Forum:</h4>
      <a href="https://discuss.okfn.org/c/openspending">https://discuss.okfn.org/c/openspending</a>
      </div>
      <div role="tabpanel" class="tab-pane" id="openspending-twitter">
      <h4>Twitter:</h4>
      <a href="https://twitter.com/openspending"> openspending </a>
      </div>
      </div>
      <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#openspending-home" aria-controls="openspending-home" role="tab" data-toggle="tab"><span class="icon-home-circle" aria-hidden="true"></span>
      <span class="sr-only">Homepage</span></a></li>
      <li role="presentation">
      <a href="#openspending-sourcecode_url" aria-controls="openspending-sourcecode_url" role="tab" data-toggle="tab">
      <span class="icon-code-circle" aria-hidden="true"></span>
      <span class="sr-only">Email</span>
      </a>
      </li>
      <li role="presentation"><a href="#openspending-forum_url" aria-controls="openspending-forum_url" role="tab" data-toggle="tab"><span class="icon-forum-circle" aria-hidden="true"></span>
      <span class="sr-only">Forum</span></a></li>
      <li role="presentation"><a href="#openspending-twitter" aria-controls="openspending-twitter" role="tab" data-toggle="tab"><span class="icon-twitter-circle" aria-hidden="true"></span>
      <span class="sr-only">Twitter</span></a></li>
      </ul>
      </div>
      </div>
      </div>
      <div class="row">
      <div class="profile">
      <a class="image" href="http://ckan.org/" style="background-image: url(https://d22739b8qd5enr.cloudfront.net/media/projects/pictures/ckan.png)">
      <img src="https://d22739b8qd5enr.cloudfront.net/media/cache/41/bd/41bde4af043d8f0e2e937442fb6ba259.jpg" alt="">
      </a>
      <h3 class="name">CKAN</h3>
      <p>CKAN is a fully-featured, mature, open source data management solution. CKAN provides a streamlined way to make your data discoverable and presentable. Each dataset is given its own page with a rich collection of metadata, making it a valuable and easily searchable resource. </p>
      <div class="meta">
      <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="ckan-home">
      <h4>Homepage:</h4>
      <a href="http://ckan.org/"> http://ckan.org/</a>
      </div>
      <div role="tabpanel" class="tab-pane" id="ckan-sourcecode_url">
      <h4>Sourcecode:</h4>
      <a href="https://github.com/ckan/ckan"> https://github.com/ckan/ckan</a>
      </div>
      <div role="tabpanel" class="tab-pane" id="ckan-forum_url">
      <h4>Forum:</h4>
      <a href="https://discuss.okfn.org/c/projects/ckan">https://discuss.okfn.org/c/projects/ckan</a>
      </div>
      <div role="tabpanel" class="tab-pane" id="ckan-twitter">
      <h4>Twitter:</h4>
      <a href="https://twitter.com/CKANproject "> CKANproject </a>
      </div>
      </div>
      <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#ckan-home" aria-controls="ckan-home" role="tab" data-toggle="tab"><span class="icon-home-circle" aria-hidden="true"></span>
      <span class="sr-only">Homepage</span></a></li>
      <li role="presentation">
      <a href="#ckan-sourcecode_url" aria-controls="ckan-sourcecode_url" role="tab" data-toggle="tab">
      <span class="icon-code-circle" aria-hidden="true"></span>
      <span class="sr-only">Email</span>
      </a>
      </li>
      <li role="presentation"><a href="#ckan-forum_url" aria-controls="ckan-forum_url" role="tab" data-toggle="tab"><span class="icon-forum-circle" aria-hidden="true"></span>
      <span class="sr-only">Forum</span></a></li>
      <li role="presentation"><a href="#ckan-twitter" aria-controls="ckan-twitter" role="tab" data-toggle="tab"><span class="icon-twitter-circle" aria-hidden="true"></span>
      <span class="sr-only">Twitter</span></a></li>
      </ul>
      </div>
      </div>
      </div>
    </article>
  </div>
</main>

<div class="site-footer">
  <div class="container">
    {% include 'includes/footer.html' %}
  </div>
</div>
{% endblock %}
