{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div id="fullpage">

  <div class="banner section" id="section0">
    {% include 'includes/banner-pattern.html' %}
    {% include 'includes/banner-pattern.html' %}
    <div class="slide" id="slide1">
      <div class="container">
        <div>
          <h1>Knowledge for the many, not the few.</h1>
          <p>Open Knowledge International is a global non-profit organisation focused on realising open data’s value to society by helping civil society groups access and use data to take action on social problems.</p>
        </div>
      </div>
    </div>
    <div class="slide" id="slide2">
      <div class="container">
        <div>
          <h2>Fiscal Data Package v1</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim fermentum est, ut euismod augue cursus a. Nulla facilisi. Aenean sit amet tellus feugiat, sollicitudin nisl in, aliquam felis.</p>
          <a class="btn">Learn more</a>
        </div>
      </div>
    </div>
    <div class="slide" id="slide3">
      <div class="container">
        <div>
          <h2>Meet our new CEO</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim fermentum est, ut euismod augue cursus a. Nulla facilisi. Aenean sit amet tellus feugiat, sollicitudin nisl in, aliquam felis.</p>
          <a class="btn">Learn more</a>
        </div>
      </div>
    </div>
    <div class="slide" id="slide4">
      <div class="container">
        <div>
          <h2>Open Data Day</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim fermentum est, ut euismod augue cursus a. Nulla facilisi. Aenean sit amet tellus feugiat, sollicitudin nisl in, aliquam felis.</p>
          <a class="btn">Learn more</a>
        </div>
      </div>
    </div>
    <div class="slide" id="slide5">
      <div class="container">
        <div>
          <h2>The Frictionless Data Field Guide</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim fermentum est, ut euismod augue cursus a. Nulla facilisi. Aenean sit amet tellus feugiat, sollicitudin nisl in, aliquam felis.</p>
          <a class="btn">Learn more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="banner section" id="section1">
    {% include 'includes/banner-pattern.html' %}
    {% include 'includes/banner-pattern.html' %}
    <div class="container">
      <div class="inner">
        <h2>Fiscal & Financial Transparency.</h2>
        <p>Transparency and openness in the use of public money leads to improved decision-making, reduced corruption and greater citizen participation.</p>
        <a class="btn">Learn more</a>
      </div>
    </div>
  </div>

  <div class="banner section" id="section2">
    {% include 'includes/banner-pattern.html' %}
    {% include 'includes/banner-pattern.html' %}
    <div class="container">
      <div class="inner">
        <h2>Data Infrastructure.</h2>
        <p>Helping government, research institutions, civil society and companies be more effective through implementation of open source tools and technology.</p>
        <a class="btn">Learn more</a>
      </div>
    </div>
  </div>

  <div class="banner section" id="section3">
    {% include 'includes/banner-pattern.html' %}
    {% include 'includes/banner-pattern.html' %}
    <div class="container">
      <div class="inner">
        <h2>Data Literacy.</h2>
        <p>For data to be useful and to generate knowledge, people often need training and support to be able to find, use and understand data. By providing help, we grow the number of data users around the world and increase calls for the provision of more, better open data.</p>
        <a class="btn">Learn more</a>
      </div>
    </div>
  </div>

  <div class="banner section" id="section4">
    {% include 'includes/banner-pattern.html' %}
    {% include 'includes/banner-pattern.html' %}
    <div class="container">
      <div class="inner">
        <h2>Open Knowledge Network.</h2>
        <p>We are a worldwide network of people passionate about openness, and we use advocacy, technology and training to unlock information so everyone can benefit from open knowledge.</p>
        <a class="btn">Learn more</a>
      </div>
    </div>
  </div>

  <div class="banner section" id="section5">
    {% include 'includes/banner-pattern.html' %}
    {% include 'includes/banner-pattern.html' %}
    <div class="container">
      <div class="inner">
        <h2>Open Science & Research.</h2>
        <p>Free access to the sum of human knowledge enables everyone to fully understand their lives and our world, to make informed choices, and to build a better future together.</p>
        <a class="btn">Learn more</a>
      </div>
    </div>
  </div>

  <div class="banner section" id="section6">
    {% include 'includes/banner-pattern.html' %}
    {% include 'includes/banner-pattern.html' %}
    <div class="container">
      <div class="inner">
        <h2>Open Definition / Open Licensing.</h2>
        <p>What does “openness” mean in relation to data and content? Clarity of definitions and the availability of open licences help highlight what counts as “open” and the conditions under which information can be used openly.</p>
        <a class="btn">Learn more</a>
      </div>
    </div>
  </div>

  <div class="banner section" id="section7">
    {% include 'includes/banner-pattern.html' %}
    {% include 'includes/banner-pattern.html' %}
    <div class="container">
      <div class="inner">
        <h2>Open Government.</h2>
        <p>Everyone should have free and open access to information about how their societies operate, at national, regional and local levels, so that governments can be scrutinised and held to account.</p>
        <a class="btn">Learn more</a>
      </div>
    </div>
  </div>

  <div class="banner section" id="section8">
    {% include 'includes/banner-pattern.html' %}
    {% include 'includes/banner-pattern.html' %}
    <div class="container">
        <div class="inner">
          <h2>Open Data Assessment.</h2>
          <p>Highlighting the availability and quality of data released across the world to increase data usage and push for more, better open data.</p>
          <a class="btn">Learn more</a>
        </div>
    </div>
  </div>

  <div class="banner section" id="section9">
    {% include 'includes/banner-pattern.html' %}
    {% include 'includes/banner-pattern.html' %}
    <div class="container">
      <div class="inner">
        <h2>Open Culture.</h2>
        <p>Opening up cultural institutions helps more people discover the knowledge, beauty and joy of the arts as well as enriching the public domain. Improved access to archives keeps past cultures alive in our imaginations.</p>
        <a class="btn">Learn more</a>
      </div>
    </div>
  </div>

  <div class="banner section" id="section10">
    {% include 'includes/banner-pattern.html' %}
    {% include 'includes/banner-pattern.html' %}
    <div class="container">
      <div class="inner">
        <h2>Open Education.</h2>
        <p> Education is a fundamental human right and opening up resources allows more people across the world to learn from and use information to spread knowledge.</p>
        <a class="btn">Learn more</a>
      </div>
    </div>
  </div>

  <div class="banner section" id="section11">
    {% include 'includes/banner-pattern.html' %}
    {% include 'includes/banner-pattern.html' %}
    <div class="container">
      <div class="inner">
        <h2>Personal data / MyData.</h2>
        <p>Governments, companies and organisations have too much power to use and abuse individuals’ personal data without their knowledge. We should have full rights over information about ourselves and the ability to share it securely at will if we choose.</p>
        <a class="btn">Learn more</a>
      </div>
    </div>
  </div>

  <div class="section fp-auto-height site-footer" id="section12">
    <div class="container">
      {% include 'includes/footer.html' %}
    </div>
  </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.4/fullpage.js"></script>

<script type="text/javascript" defer>
  var myFullpage = new fullpage('#fullpage', {
      anchors: [
        'latest',
        'financial-transparency',
        'data-infrastructure',
        'data-literacy',
        'open-knowledge-network',
        'open-science-research',
        'open-definition-open-licensing',
        'open-government',
        'open-data-assessment',
        'open-culture',
        'open-education',
        'personal-data',
        'footer'
      ],
      navigation: true,
      navigationPosition: 'right',
      navigationTooltips: [
        '',
        'Financial transparency',
        'Data infrastructure',
        'Data literacy',
        'Open Knowledge Network',
        'Open Science & Research',
        'Open Definition / Open Licensing',
        'Open Government',
        'Open Data Assessment',
        'Open Culture',
        'Open Education',
        'Personal data / MyData',
        ''
      ],
      autoScrolling: false,
      slidesNavigation: true,
      controlArrows: false,
      afterRender: function () {
          setInterval(function () {
              fullpage_api.moveSlideRight();
          }, 10000);
      },
      licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE'
  });
</script>
{% endblock %}
